* {
    margin: 0;
    padding: 0;
}

.buttons {
    display: table-cell;
    width: 960px;
    height: 100px;
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
}

.images {
    width: 960px;
    height: 450px;
}
